<div class="container">
<div class="col-md-6">
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
       <legend>Change password</legend>
             <div class="form-group">
                 <label for="current_password"> {{ form_label(form.current_password)}}
                 </label>
                 {{ form_widget(form.current_password, {'attr':{'class':'form-control','placeholder' :'Titre de annonce'}}) }}
             </div>
             <div class="form-group">
                 <label for="newpass"> {{ form_label(form.new.first)}}
                 </label>
                 {{ form_widget(form.new.first, {'attr':{'class':'form-control'}}) }}
             </div>
              <div class="form-group">
                 <label for="newpass"> {{ form_label(form.new.second)}}
                 </label>
                 
                 {{ form_widget(form.new.second, {'attr':{'class':'form-control' }}) }}
              </div>
            
               {{ form_rest(form) }}
         
    <div>
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form></div></div>

    
    